{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
      }
    },
  "env": {                          
    "browser": true,    
    "node": true                  
    },
  "parser": "babel-eslint",         
  "plugins": [
    "react"                          
    ], "rules": {
      "react/prop-types": 0
       
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}

